# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto
# Declare files that will always have LF line endings on checkout.
*.txt text eol=lf
*.json text eol=lf
*.js text eol=lf
*.php text eol=lf
*.css text eol=lf