/*=============== Обсуждалки =================================================*/

#messageWindow {
	min-height: 200px;
	padding-top: 20px;
	overflow: auto;
	max-height: 400px;
}
	ul.messageLists {
		margin-top: 5px;
	}
	.forum_topic_header {
        border-bottom: 2px solid #eee;
	}
		ul.messageLists > li {
			display: grid;
			align-items: center;
			grid-template-columns: 1fr 4fr;
			padding: 5px;
			margin: 5px;
		}
			ul.messageLists .message_author {
				min-width: 120px;
				grid-column: 1 / 2;
				align-self: start;
				border-right: 2px solid #eee;
				padding: 5px;
				display: grid;
				grid-template-columns: 1fr 2fr;
				align-items: center;
                position: relative;
			}
				ul.messageLists .message_author .avatar {grid-column: 1 / 2;}
				ul.messageLists .message_author span    {grid-column: 2 / 3;}
				ul.messageLists .message_author .data   {grid-column: 1 / 3;}

			ul.messageLists .text {
				grid-column: 2 / 3;
				padding-left: 5%;
				text-align: left;
			}
                ul.messageLists .top_list_item_number {
                    position: absolute;
                    top: 0px;
                    right: 0px;
                }
				ul.messageLists .forum_list_item_buttons {
					float: right;
				}
				ul.messageLists .gameCheckbox {
					float: right;
				}

		.formSendTheme {
			display: grid;
			grid-template-columns: repeat(8, 1fr);
			grid-template-rows: repeat(2, 1fr);
			grid-gap: 4px 4px;
		}

		.formSendTheme .c_enterText,
        .formSendTheme p            {grid-column: 2 / 8; grid-row: 2 / 3;}
        .formSendTheme select       {grid-column: 6 / 8; grid-row: 1 / 2;}
		.formSendTheme .k_enter     {grid-column: 8 / 9; grid-row: 2 / 3;}

		.formSendMessage {
			display: grid;
			grid-template-columns: repeat(8, 1fr);
			grid-template-rows: repeat(4, 1fr);
			grid-gap: 4px 4px;
		}
			.formSendMessage select   {grid-column: 6 / 8; grid-row: 1 / 2;}
			.formSendMessage textarea {grid-column: 2 / 8; grid-row: 2 / 5;}
			.formSendMessage .k_close {grid-column: 8 / 9; grid-row: 2 / 3;}
			.formSendMessage .k_smile {grid-column: 8 / 9; grid-row: 3 / 4;}
			.formSendMessage .k_enter {grid-column: 8 / 9; grid-row: 4 / 5;}

	.message_non_existed {
		padding: 20px;
	}