/*=============== Всплывающие блоки ==================================================*/

#black_glass {
	opacity: 0.7;
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
	width: 100%;
	z-index: 1001;
	background-color: #000;
}
#text_help {
	display: none;
	position: absolute;
}
#window_info_popup {
	width: 100%;
	display: none;
	position: fixed !important;
	top: 120px;
	z-index: 1002;
}

#info_div {
	text-align: justify;
	min-width: 200px;
    max-width: 1000px;
	max-height: 400px;
	padding: 10px;
	margin: 10px auto;
	overflow: auto;
}
#info_div img{
	margin-bottom: -10px;
}
#info_div ul{
	margin-bottom: -5px;
}

#statistic {
	display: table;
	width: 90%;
}
	#statistic p {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		font-weight: bold;
		font-size: 50px !important;
		width: 30%;
	}
	#stat_med .cup {
		text-align: center;
		background-color: #bbb;
		margin: 2px;
		padding: 2px;
		border: 2px solid #aaa;
		background-color: #fff;
		border-radius: 4px;
	}
	.med {
		display: inline;
		margin-right: -10px;
	}
#k_vk {
	margin-bottom: -10px !important;
	width: 79px;
}

#smiles {
	display: grid;
    grid-template-columns: repeat(10, 1fr);
    align-items: center;
    justify-items: center;
}
	#smiles img{
		cursor: pointer;
	}

.toolTip, .popupMenu {
	display: none;
	position: absolute;
	z-index: 300;
	padding: 0px 5px;
	max-width: 500px;
}